.tcatyo{ 
    list-style-position: outside;
}

#mylistTYO{
    margin: 5% 15% 0% 15%;
}

#list1tyo{
    list-style-type: disc;
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}
.TYO-body{
    margin: 8% 20% 18% 20%;
    min-height: 40vh;
}

@media screen and (max-width:768px){
    .TYO-body{
        margin: 20% 20% 10% 20%;
    }
    #mylistTYO{
        margin: 5% 0% 0% 0%;
    }
}